body {
   background: hsla(0, 100%, 50%, 1);
   background: linear-gradient(315deg, hsla(0, 100%, 50%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
   background: -moz-linear-gradient(315deg, hsla(0, 100%, 50%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
   background: -webkit-linear-gradient(315deg, hsla(0, 100%, 50%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0000", endColorstr="#000000", GradientType=1 );
}

body, html {
  height: 100%;
  margin: 0;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 55px;
}

h3 {
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 47px;
}

h5 {
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

#back {
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
}
  
#scrollbar {
  overflow-y: hidden;
}

a:link    {color: white}
a:visited    {color: white}
a:active    {color: white}
